#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: #294545;
}

/* Top */
header {
  background-color: rgba(41, 69, 69, 1);
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #aed8da;
  color: rgba(41, 69, 69, 1);
}

/* Middle */
body {
  background-color: #aed8da;
  font-family: "Rock Salt", "Roboto", "Tahoma", "sans-serif";
  font-size: 22px;
  margin: 0;
  padding: 0;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

#hero-img {
  width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

#logo_link {
  padding-top: 5px;
}

.logo,
.icon {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

/* Adds a border around the images */
.card-img {
  border: 10px solid white;
}

.button-box {
  text-align: center;
}

.book,
.join {
  background-color: #294545;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #6a8485;
  color: white;
}

.home-title {
  color: white;
  font-family: "Geneva", "Comic Sans MS", "Tahoma", "sans-serif";
  font-size: 2em;
  margin-top: 10px;
}

h2 {
  margin: 0;
}

h4 {
  color: black;
}

.msg {
  background-color: #294545;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: white;
  font-family: "Geneva", "Comic Sans MS", "Tahoma", "sans-serif";
}

.msg p {
  color: white;
  font-size: 0.8em;
  padding-bottom: 15px;
}

/* Bottom */
footer {
  background-color: #294545;
  padding: 25px 50px;
}

footer h3 {
  color: black;
}

footer p {
  font-size: 1.2em;
}

footer p :hover {
  text-decoration: underline;
}

footer a {
  color: white;
  text-decoration: none;
}

footer hover {
  color: #294545;
}

footer .social img {
  padding-top: 15px;
}
