@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel+Decorative&family=Rouge+Script&display=swap");

#content {
  width: 100%;
}

/* Section 1 */
.announcements {
  background-color: #d9c2b0;
  font-family: Helvetica;
  margin-bottom: -1em;
  text-align: center;
}

.announcements p {
  margin: 1em 0 0 -1;
  padding: 0.5em 0;
}

header {
  /* background-color: #a6a998; */
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 12em 12em auto;
  grid-gap: 10px;
  z-index: 1;
}

.logo {
  box-sizing: border-box;
  grid-column: 1/2;
  margin: 1.5em 2em;
  max-width: 100%;
  padding-right: 3em;
  display: inline;
}

.social {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  max-width: 75%;
  margin: auto;
  text-align: center;
}

.insta {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.yt {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.tumblr {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.spotify {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.pinterest {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

/* .a03 {
  border-radius: 5%;
  max-width: 100%;
  margin: auto;
} */

.pages {
  grid-column: 3/4;
  grid-gap: 0.5em;
  margin: 6% 0 0 47%;
}

.pages a {
  font-family: "Cinzel Decorative";
  color: #524f4a;
  text-decoration: none;
}

#home-page {
  /* grid-column: 1/2; */
  text-align: center;
  margin: auto;
}

#portfolio-page {
  /* grid-column: 2/3; */
  text-align: center;
  margin: auto;
}

#faq-page {
  /* grid-column: 3/4; */
  text-align: center;
  margin: auto;
}

#commisions-page {
  /* grid-column: 4/5; */
  text-align: center;
  margin: auto;
}

#writings-page {
  /* grid-column: 5/6; */
  text-align: center;
  margin: auto;
}

#about-page {
  /* grid-column: 6/7; */
  text-align: center;
  margin: auto;
}

/* Below nav bar */
.main {
  display: grid;
  grid-template-rows: 20em 20em 27em 20em 20em;
}

/* Section 2 */
.welcome {
  grid-row: 1/2;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vine1 {
  grid-column: 1/2;
  height: 400px;
  transform: rotate(90deg);
  margin-top: -4.5em;
  margin-left: 1.25em;
}

.welcome p {
  position: absolute;
  grid-column: 2/3;
  z-index: 1;
  margin-top: 3em;
  margin-left: 7.5em;
  font-family: "Cinzel Decorative";
}

.welcome-logo {
  position: absolute;
  grid-column: 2/3;
  max-height: 100%;
  margin-left: 4em;
  margin-top: -1.5em;
}

.vine2 {
  grid-column: 3/4;
  height: 400px;
  transform: scaleX(-1) rotate(90deg);
  margin-top: -4.5em;
  margin-left: 8.5em;
}

/* Section 3 */
.button-menu {
  position: relative;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  max-width: 100%;
  margin: -2em 3em;
  grid-gap: 5em;
}

.button-menu p {
  position: absolute;
  color: white;
  font-size: larger;
  z-index: 1;
  max-width: 100%;
}
.button:hover {
  /* opacity: 0.8; */
  transform: scale(1.05);
}
.button-pic1 {
  position: absolute;
  max-width: 100%;
  grid-column: 1/2;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text1 {
  font-family: "Cinzel Decorative";
  grid-column: 1/2;
  margin-top: 43%;
  margin-left: 35%;
}

.button-pic2 {
  position: absolute;
  max-width: 100%;
  grid-column: 2/3;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text2 {
  font-family: "Cinzel Decorative";
  grid-column: 2/3;
  margin-top: 43%;
  margin-left: 35%;
}

.button-pic3 {
  position: absolute;
  max-width: 100%;
  grid-column: 3/4;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text3 {
  font-family: "Cinzel Decorative";
  grid-column: 3/4;
  margin-top: 43%;
  margin-left: 29%;
}

.button-pic4 {
  position: absolute;
  max-width: 100%;
  grid-column: 4/5;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text4 {
  font-family: "Cinzel Decorative";
  grid-column: 4/5;
  margin-top: 43%;
  margin-left: 33%;
}

/* Section 4 */
.contact-me {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic-of-ky {
  grid-column: 1/2;
  max-width: 55%;
  margin: auto;
  margin-top: 0;
}

.mission {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  grid-column: 2/3;
  text-align: left;
  margin-left: -5em;
  margin-right: 7em;
  margin-top: 3em;
}

.button-box {
  grid-column: 2/3;
  margin-left: 7em;
  margin-top: 12.75em;
}

.contact-button {
  max-width: 35%;
}

/* Section 5 */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gallery-preview {
  max-width: 100%;
}

/* Section 6 */
.reviews {
  grid-row: 5/6;
  width: 100%;
  /* height: 20em; */
}

/* Section 7 */
/* footer {} */

.title-thing {
  text-align: center;
  font-family: "Cinzel Decorative";
  font-size: larger;
}

.question {
  text-align: center;
  font-family: "Cinzel Decorative";
  /* font-size: medium; */
}

.faq-content {
  margin: 4em 17em 0 17em;
  text-align: center;
}
