/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel+Decorative&family=Rouge+Script&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Amatic+SC&family=Cinzel+Decorative&family=Parisienne&family=Rouge+Script&display=swap");

/* header */
.announcements {
  background-color: #d9c2b0;
  font-family: Helvetica;
  margin-bottom: -24px;
  text-align: center;
}

.announcements p {
  margin: 0;
  padding: 8px 0;
  color: white;
  font-size: small;
}

header {
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 193px 193px auto;
  grid-gap: 10px;
  margin-top: 24px;
  z-index: 1;
}

.logo {
  box-sizing: border-box;
  grid-column: 1/2;
  margin: 24px 32px;
  max-width: 100%;
  padding-right: 48px;
  display: inline;
}

.social {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  max-width: 75%;
  margin: auto;
  text-align: center;
}

.insta,
.yt,
.tumblr,
.pinterest,
.spotify {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

.pages {
  grid-column: 3/4;
  grid-gap: 12px;
  margin: 6% 0 0 47%;
}

.pages a {
  font-family: "Cinzel Decorative";
  color: #524f4a;
  text-decoration: none;
}

#home-page,
#portfolio-page,
#faq-page,
#commisions-page,
#writings-page,
#about-page {
  text-align: center;
  margin: auto;
}

/* footer */
footer {
  padding-top: 10em;
  font-family: Helvetica, sans-serif;
  color: #cbc3ba;
  font-size: small;
  text-align: center;
  line-height: 20%;
  padding-bottom: 20px;
}

.footer-link,
.footer-link2 {
  text-decoration: none;
  color: #cbc3ba;
}

.title-thing {
  text-align: center;
  font-family: "Cinzel Decorative";
  font-size: larger;
}

.question {
  text-align: center;
  font-family: "Cinzel Decorative";
}

/* --------- HOME PAGE --------- */
#content {
  max-width: 1600px;
  margin: 2px -8px;
  overflow: hidden;
}

.main {
  position: relative;
  display: grid;
  grid-template-rows: 20em 20em 27em 4em 21em 4em 5em 30em;
}

/* Section 1 */
.welcome {
  grid-row: 1/2;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vine1 {
  grid-column: 1/2;
  height: 400px;
  transform: rotate(90deg);
  margin-top: -4.5em;
  margin-left: 1.25em;
}

.welcome p {
  position: absolute;
  grid-column: 2/3;
  z-index: 1;
  margin-top: 3em;
  margin-left: 7.75em;
  font-family: "Cinzel Decorative";
}

.welcome-logo {
  position: absolute;
  grid-column: 2/3;
  max-height: 100%;
  margin-left: 4em;
  margin-top: -1.5em;
}

.vine2 {
  grid-column: 3/4;
  height: 400px;
  transform: scaleX(-1) rotate(90deg);
  margin-top: -4.5em;
  margin-left: 8.5em;
}

/* Section 2 */
.button-menu {
  position: relative;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  max-width: 100%;
  margin: -2em 3em;
  grid-gap: 5em;
}

.button-menu p {
  position: absolute;
  color: white;
  font-size: larger;
  z-index: 1;
  max-width: 100%;
}
.button:hover {
  transform: scale(1.05);
}

.button-pic1 {
  position: absolute;
  max-width: 100%;
  grid-column: 1/2;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text1 {
  font-family: "Cinzel Decorative";
  grid-column: 1/2;
  margin-top: 43%;
  margin-left: 35%;
}

.button-pic2 {
  position: absolute;
  max-width: 100%;
  grid-column: 2/3;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text2 {
  font-family: "Cinzel Decorative";
  grid-column: 2/3;
  margin-top: 43%;
  margin-left: 35%;
}

.button-pic3 {
  position: absolute;
  max-width: 100%;
  grid-column: 3/4;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text3 {
  font-family: "Cinzel Decorative";
  grid-column: 3/4;
  margin-top: 43%;
  margin-left: 29%;
}

.button-pic4 {
  position: absolute;
  max-width: 100%;
  grid-column: 4/5;
  display: inline;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-text4 {
  font-family: "Cinzel Decorative";
  grid-column: 4/5;
  margin-top: 43%;
  margin-left: 33%;
}

/* Section 3 */
.contact-me {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic-of-ky {
  grid-column: 1/2;
  max-width: 55%;
  margin: auto;
  margin-top: -2em;
}

.mission {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  position: absolute;
  grid-column: 2/3;
  text-align: left;
  margin-left: -8em;
  margin-right: 7em;
  margin-top: 1.75em;
}

.button-box {
  position: absolute;
  grid-column: 1/2;
  margin-left: 14em;
  margin-top: 14.5em;
}

.contact-button {
  max-width: 50%;
}

/* Section 4 */
.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gallery-preview {
  position: relative;
  max-width: 100%;
}

#pic2 {
  background-color: black;
  max-height: 99%;
}

.gallery-preview:hover {
  transform: scale(1.07);
  z-index: 1;
}

.gallery-link-section {
  grid-row: 4/5;
  margin-top: 0.5em;
  margin-left: 32%;
}

.gallery-link {
  font-family: "Cinzel Decorative";
  font-size: 2em;
  text-decoration: none;
  color: #524f4a;
}

.gallery-circles {
  z-index: 3;
  position: absolute;
  bottom: 18px;
  left: 19px;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 39em;
}

.gallery-circle {
  max-height: 0.75em;
}

.gallery-circle:hover {
  filter: invert(0.4);
}

/* Section 5 */
.reviews {
  grid-row: 8/9;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 6em;
}

/* .review-heading {
  grid-row: 7/8;
  font-family: "Cinzel Decorative";
  font-size: 2em;
  color: #524f4a;
  text-align: center;
  margin: 5em;
} */

.review1 {
  z-index: 1;
  max-width: 50%;
  background-color: #d9c2b0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #524f4a;
  margin: auto;
  padding: 30px;
}

.review2 {
  max-width: 50%;
  background-color: #d9c2b0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #524f4a;
  margin: auto;
  padding: 30px;
}

.review3 {
  max-width: 50%;
  background-color: #d9c2b0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #524f4a;
  margin: auto;
  padding: 30px;
}

.vine-divide {
  z-index: -2;
  position: absolute;
  grid-row: 8/9;
}

.small-vine2 {
  transform: scaleY(-1) rotate(90deg);
  max-width: 35%;
  margin-top: -18em;
  margin-left: -2em;
}

.small-vine1 {
  transform: scaleX(-1) rotate(90deg);
  max-width: 35%;
  margin-top: -16em;
  margin-left: 64%;
}

/* --------- FAQ PAGE --------- */
.faq-content {
  margin: 4em 17em 0 17em;
  text-align: center;
}

.faq-main {
  position: relative;
}

.faq-vine1 {
  position: absolute;
  z-index: -1;
  transform: scaleY(-1) rotate(110deg);
  max-width: 28%;
  margin-top: -13em;
  margin-left: -2em;
}

.faq-vine2 {
  position: absolute;
  z-index: -1;
  transform: scaleX(-1) rotate(90deg);
  max-width: 28%;
  margin-top: -13.5em;
  margin-left: 74%;
}

/* Second set of vines */
.faq-vine3 {
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);
  max-width: 28%;
  margin-top: -10em;
  margin-left: -2em;
}

.faq-vine4 {
  position: absolute;
  z-index: -1;
  transform: scaleX(-1) rotate(90deg);
  max-width: 28%;
  margin-top: -10em;
  margin-left: 74%;
}

/* --------- COMMISIONS PAGE --------- */
.form-header {
  max-width: 45.5%;
  margin: 0 28%;
}

.google-form {
  text-align: center;
}

/* --------- PORTFOLIO PAGE --------- */
.portfolio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.portfolio img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.pic1-full {
  background-image: url("images/Pic1.JPG");
}

.pic1-full:active {
  transform: scale(2);
  z-index: 3;

  background-image: url("images/Pic1-sqaure.JPG");
}
