@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel+Decorative&family=Rouge+Script&display=swap");

.content {
  width: 100%;
}

/* Section 1 */
.announcements {
  background-color: #d9c2b0;
  font-family: Helvetica;
  margin-bottom: -1em;
  text-align: center;
}

.announcements p {
  margin: 1em 0 0 -1;
  padding: 0.5em 0;
}

header {
  background-color: #a6a998;
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 10px;
  z-index: 1;
}

.logo {
  grid-column: 1/2;
  margin: 1em 2em;
  max-width: 90%;
  display: inline;
}

.yt,
.insta,
.tumblr,
.ao3 {
  padding: 0%;
  max-width: 60%;
}

.social {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto 3em 1em 3em;
  text-align: center;
}

.pages {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin: 3em;
}

.pages a {
  font-family: "Cinzel Decorative";
  color: #e5e3d7;
  text-decoration: none;
}

#home-page {
  grid-column: 1/2;
  text-align: center;
  margin: auto;
}

#portfolio-page {
  grid-column: 2/3;
  text-align: center;
  margin: auto;
}

#faq-page {
  grid-column: 3/4;
  text-align: center;
  margin: auto;
}

#commisions-page {
  grid-column: 4/5;
  text-align: center;
  margin: auto;
}

#writings-page {
  grid-column: 5/6;
  text-align: center;
  margin: auto;
}

#about-page {
  grid-column: 6/7;
  text-align: center;
  margin: auto;
}

/* Section 2 */
.welcome {
  width: 100%;
  height: 40em;
  margin-top: -1em;
  color: #524f4a;
}

.welcome p {
  z-index: 1;
  text-align: center;
  /* margin: auto; */
}

.welcome-logo {
  max-width: 50%;
}

/* Section 3 */
/* .button-menu {
  width: 100%;
  height: 20em;
} */

/* Section 4 */
/* .contact-me {
  width: 100%;
  height: 30em;
} */

/* Section 5 */
/* .gallery {
  width: 100%;
  /* height: 20em; */
/* }

/* Section 6 */
/* .reviews {
  width: 100%;
  /* height: 20em; */
/* } */

/* Section 7 */
/* footer {} */
