@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel+Decorative&family=Rouge+Script&display=swap");

#content {
  width: 100%;
}

/* Section 1 */
.announcements {
  background-color: #d9c2b0;
  font-family: Helvetica;
  margin-bottom: -1em;
  text-align: center;
}

.announcements p {
  margin: 1em 0 0 -1;
  padding: 0.5em 0;
}

header {
  /* background-color: #a6a998; */
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 12em 1.5em 1.5em 1.5em 1.5em auto;
  grid-gap: 10px;
  z-index: 1;
}

.logo {
  box-sizing: border-box;
  grid-column: 1/2;
  margin: 1.5em 2em;
  max-width: 100%;
  padding-right: 3em;
  display: inline;
}

.insta {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.yt {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.tumblr {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}
.a03 {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
}

.social {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.pages {
  grid-column: 6/7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  /* margin: 3em 0 3em 5em; */
  margin-left: 25em;
  margin-right: 3em;
}

.pages a {
  font-family: "Cinzel Decorative";
  color: #524f4a;
  text-decoration: none;
}

#home-page {
  grid-column: 1/2;
  text-align: center;
  margin: auto;
}

#portfolio-page {
  grid-column: 2/3;
  text-align: center;
  margin: auto;
}

#faq-page {
  grid-column: 3/4;
  text-align: center;
  margin: auto;
}

#commisions-page {
  grid-column: 4/5;
  text-align: center;
  margin: auto;
}

#writings-page {
  grid-column: 5/6;
  text-align: center;
  margin: auto;
}

#about-page {
  grid-column: 6/7;
  text-align: center;
  margin: auto;
}

.main {
  display: grid;
  grid-template-rows: 20em 20em 20em 20em 20em;
}

/* Section 2 */
.welcome {
  grid-row: 1/2;
  height: 100%;
  margin: auto;
  color: #524f4a;
}

.welcome p {
  z-index: 1;
  text-align: center;
  margin-top: 2em;
  margin-bottom: -5em;
  font-family: "Cinzel Decorative";
}

.welcome-logo {
  max-height: 100%;
}

/* Section 3 */
.button-menu {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  max-width: 100%;
  margin: -2em 3em;
  grid-gap: 5em;
}

.button-menu p {
  z-index: 1;
}

.button-pic1 {
  max-width: 100%;
  grid-column: 1/2;
  display: inline;
  border-radius: 7%;
}

/* .button-text1 {
  max-width: 100%;
  z-index: 1;
  grid-column: 1/2;
  margin: auto;
  display: inline;
} */

.button-pic2 {
  max-width: 100%;
  grid-column: 2/3;
  display: inline;
  border-radius: 7%;
}

/* .button-text2 {
  max-width: 100%;
  z-index: 1;
  grid-column: 2/3;
  margin: auto;
  display: inline;
} */

.button-pic3 {
  max-width: 100%;
  grid-column: 3/4;
  display: inline;
  border-radius: 7%;
}

/* .button-text3 {
  max-width: 100%;
  z-index: 1;
  grid-column: 3/4;
  margin: auto;
  display: inline;
} */

.button-pic4 {
  max-width: 100%;
  grid-column: 4/5;
  display: inline;
  border-radius: 7%;
}

/* .button-text4 {
  max-width: 100%;
  z-index: 1;
  margin: auto;
  grid-column: 4/5;
  display: inline;
} */

/* .button-pic1 {
  grid-column: 1/2;
  /* max-width: 40px; */
/* border-radius: 5%; */
/* }  */
/* .button-pic2 {
  grid-column: 2/3;
  /* max-width: 40px; */
/* border-radius: 5%; */
/* } */
/* .button-pic3 {
  grid-column: 3/4;
  /* max-width:/ 40px; */
/* border-radius: 5%; */
/* } */
/* .button-pic4 {
  grid-column: 4/5;
  /* max-width: 40px; */
/* border-radius: 5%; */
/* } */

/* .button-pic1 .button-pic2 .button-pic3 .button-pic4 {
  border-radius: 5%;
  max-width: 480px;
  margin-bottom: 0;
  padding: 0;
} */

/* Section 4 */
/* .contact-me {
  width: 100%;
  height: 30em;
} */

/* Section 5 */
.gallery {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* width: 100%; */
  /* height: 20em;  */
}

.gallery-preview {
  max-width: 100%;
}

/* Section 6 */
.reviews {
  grid-row: 6/7;
  width: 100%;
  /* height: 20em; */
}

/* Section 7 */
/* footer {} */
